{
    "extends": "airbnb",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "globals": {
        "document": true,
        "window": true
    },
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
    "plugins": [
        "mocha",
        "chai-friendly"
    ]
}